<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.AuctionRecordMapper">
    <resultMap id="auctionRecordMap" type="AuctionRecord">
        <id property="id" column="auction_id"/>
        <result property="price" column="auction_price"/>
        <result property="time" column="auction_time"/>
        <association property="user" column="auction_user_id" resultMap="com.solar.mapper.UserMapper.userMap"/>
        <association property="product" column="auction_product_id"
                     resultMap="com.solar.mapper.ProductMapper.productMap"/>
    </resultMap>
    <insert id="addAuctionRecord">
        INSERT INTO auction_record(auction_id, auction_price, auction_user_id, auction_product_id) VALUES (#{id},
        #{price},#{userId},#{productId})
    </insert>
    <select id="queryAuctionRecordByProductId" resultMap="auctionRecordMap">
        SELECT auction_record.*,user.user_id,user.user_name,user.user_head_img FROM auction_record,user WHERE
        auction_record.auction_product_id=#{productId} AND auction_record.auction_user_id=user.user_id
    </select>
    <delete id="deleteAuctionRecordsByProductId">
        DELETE FROM auction_record WHERE auction_product_id=#{productId}
    </delete>
</mapper>