<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.CommentMapper">
    <resultMap id="commentMap" type="Comment">
        <id property="id" column="comment_id"/>
        <result property="content" column="comment_content"/>
        <result property="time" column="comment_time"/>
        <result property="like" column="comment_like"/>
        <result property="dislike" column="comment_dislike"/>
        <association property="product" resultMap="com.solar.mapper.ProductMapper.productMap"
                     column="comment_product_id"></association>
        <association property="user" resultMap="com.solar.mapper.UserMapper.userMap" column="comment_user_id"></association>
    </resultMap>
    <insert id="addComment">
        INSERT INTO comment(comment_id, comment_content, comment_product_id, comment_user_id,comment_level) VALUES (#{id},#{content},#{productId},#{userId},#{level})
    </insert>
    <update id="increaseLikeById">
        UPDATE comment SET comment_like=comment_like+1 WHERE comment_id=#{id}
    </update>
    <update id="increaseDislikeById">
        UPDATE comment SET comment_dislike=comment_dislike+1 WHERE comment_id=#{id}
    </update>
    <select id="queryComments" resultMap="commentMap">
        SELECT user.user_id,user.user_name,user.user_head_img,comment.* FROM comment,user WHERE comment.comment_product_id=#{productId} AND comment.comment_user_id=user.user_id ORDER BY comment.comment_time
    </select>
</mapper>