<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.NotificationMapper">
    <resultMap id="notificationMap" type="Notification">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <association property="target" resultMap="com.solar.mapper.UserMapper.userMap" column="target"></association>
    </resultMap>
    <select id="getNotificationsByUserId" resultMap="notificationMap">
        SELECT * FROM notification WHERE target=#{userId}
    </select>
    <insert id="addNotification">
        INSERT INTO notification(id, title, content, target) VALUES (#{id},#{title},
        #{content},#{userId})
    </insert>
    <delete id="deleteNotification">
        DELETE FROM notification WHERE id=#{id}
    </delete>
    <delete id="deleteAllNotificationByUserId">
        DELETE FROM notification WHERE target=#{userId}
    </delete>
</mapper>