<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.NotificationMapper">
    <resultMap id="notificationMap" type="Notification">
        <id property="id" column="notification_id"/>
        <result property="title" column="notification_title"/>
        <result property="content" column="notification_content"/>
        <association property="target" resultMap="com.solar.mapper.UserMapper.userMap" column="notification_target"></association>
    </resultMap>
    <select id="getNotificationsByUserId" resultMap="notificationMap">
        SELECT * FROM notification WHERE notification_target=#{userId}
    </select>
    <insert id="addNotification">
        INSERT INTO notification(notification_id, notification_title, notification_content, notification_target) VALUES (#{id},#{title},
        #{content},#{userId})
    </insert>
    <delete id="deleteNotification">
        DELETE FROM notification WHERE notification_id=#{id}
    </delete>
    <delete id="deleteAllNotificationByUserId">
        DELETE FROM notification WHERE notification_target=#{userId}
    </delete>
</mapper>