<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.OrderMapper">
    <resultMap id="orderMap" type="Order">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="orderTime" column="order_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="status" column="status"/>
        <result property="price" column="price"/>
        <result property="totalPrice" column="total_price"/>
        <association property="user" column="user_id" resultMap="com.solar.mapper.UserMapper.userMap"/>
        <association property="target" column="target" resultMap="com.solar.mapper.UserMapper.userMap"/>
        <association property="product" column="product_id" resultMap="com.solar.mapper.ProductMapper.productMap"/>
    </resultMap>
    <insert id="addOrder">
        INSERT INTO `order`(id, number, user_id, product_id,price,total_price,target) VALUES (#{id},#{number},
        #{userId},#{productId},#{price},#{totalPrice},#{targetId})
    </insert>
    <update id="dispatchingOrder">
        UPDATE `order` SET status=2 WHERE id=#{id}
    </update>
    <update id="finishOrder">
        UPDATE `order` SET status=3,finish_time=CURRENT_TIMESTAMP() WHERE id=#{id}
    </update>
    <select id="queryOrderByUserId" resultMap="orderMap">
        SELECT * FROM `order` WHERE user_id=#{userId}
    </select>
    <select id="queryOrderByUserIdAndStatus" resultMap="orderMap">
        SELECT * FROM `order` WHERE user_id=#{userId} AND status=#{status}
    </select>
    <select id="queryOrderByTargetId" resultMap="orderMap">
        SELECT * FROM `order` WHERE target=#{targetId}
    </select>
    <select id="queryOrderByTargetIdAndStatus" resultMap="orderMap">
        SELECT * FROM `order` WHERE target=#{targetId} AND status=#{status}
    </select>
    <select id="queryTargetId" resultType="java.lang.String">
        SELECT `order`.target FROM `order` WHERE id=#{id}
    </select>
</mapper>