<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.OrderMapper">
    <resultMap id="orderMap" type="Order">
        <id property="id" column="order_id"/>
        <result property="number" column="order_number"/>
        <result property="orderTime" column="order_order_time"/>
        <result property="finishTime" column="order_finish_time"/>
        <result property="status" column="order_status"/>
        <result property="price" column="order_price"/>
        <result property="totalPrice" column="order_total_price"/>
        <association property="user" column="order_user_id" resultMap="com.solar.mapper.UserMapper.userMap"/>
        <association property="target" column="order_target" resultMap="com.solar.mapper.UserMapper.userMap"/>
        <association property="product" column="order_product_id"
                     resultMap="com.solar.mapper.ProductMapper.productMap"/>
    </resultMap>
    <insert id="addOrder">
        INSERT INTO `order`(order_id, order_number, order_user_id, order_product_id,order_price,order_total_price,order_target) VALUES (#{id},#{number},
        #{userId},#{productId},#{price},#{totalPrice},#{targetId})
    </insert>
    <update id="dispatchingOrder">
        UPDATE `order` SET order_status=2 WHERE order_id=#{id}
    </update>
    <update id="finishOrder">
        UPDATE `order` SET order_status=3,order_finish_time=CURRENT_TIMESTAMP() WHERE order_id=#{id}
    </update>
    <update id="payOrder">
        UPDATE `order` SET order_status=1 WHERE order_id=#{id}
    </update>
    <select id="queryOrderByUserId" resultMap="orderMap">
        SELECT user.user_email,user.user_phone,user.user_name,product.product_id,product.product_name,`order`.* FROM product,`order`,user
         WHERE `order`.order_user_id=#{userId} AND `order`.order_product_id=product.product_id AND `order`.order_user_id=user.user_id
    </select>
    <select id="queryOrderByUserIdAndStatus" resultMap="orderMap">
        SELECT user.user_email,user.user_phone,user.user_name,product.product_id,product.product_name,`order`.* FROM product,`order`,user
         WHERE `order`.order_user_id=#{userId} AND `order`.order_status=#{status} AND `order`.order_product_id=product.product_id AND `order`.order_user_id=user.user_id
    </select>
    <select id="queryOrderByTargetId" resultMap="orderMap">
        SELECT user.user_email,user.user_phone,user.user_name,user.user_location,product.product_id,product.product_name,`order`.* FROM product,`order`,user
         WHERE `order`.order_target=#{targetId} AND `order`.order_product_id=product.product_id AND `order`.order_target=user.user_id
    </select>
    <select id="queryOrderByTargetIdAndStatus" resultMap="orderMap">
        SELECT user.user_email,user.user_phone,user.user_name,user.user_location,product.product_id,product.product_name,`order`.* FROM product,`order`,user
         WHERE `order`.order_target=#{targetId} AND `order`.order_status=#{status} AND `order`.order_product_id=product.product_id AND `order`.order_target=user.user_id
    </select>
    <select id="queryTargetId" resultType="java.lang.String">
        SELECT `order`.order_target FROM `order` WHERE order_id=#{id}
    </select>
</mapper>