<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.ProductMapper">
    <resultMap id="productMap" type="Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="disc" column="disc"/>
        <result property="releaseTime" column="release_time"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="number" column="number"/>
        <result property="imga" column="imga"/>
        <result property="imgb" column="imgb"/>
        <result property="imgc" column="imgc"/>
        <result property="imgd" column="imgd"/>
        <result property="comment" column="comment"/>
        <association property="category" column="category_id" resultMap="categoryMap"/>
        <association property="publisher" column="publisher" resultMap="userMap"/>
    </resultMap>
    <insert id="addProduct" parameterType="Product">
        INSERT INTO product(id, name, price, disc, type, category_id, number, publisher, imga, imgb, imgc, imgd)
         VALUES (#{product.id},#{product.name},#{product.price},#{product.disc},
         #{product.type},#{product.category.id},#{product.number},#{product.publisher.id},
         #{product.imga},#{product.imgb},#{product.imgc},#{product.imgd}
         )
    </insert>
    <select id="queryNumber" resultType="java.lang.Integer">
        SELECT number FROM product WHERE id=#{id}
    </select>
    <delete id="deleteProduct">
        DELETE FROM product WHERE id=#{id}
    </delete>
    <update id="updateProduct">
        UPDATE product SET price=#{price},number=#{number},category_id=#{category} WHERE id=#{id}
    </update>
    <select id="queryProductByType" resultType="Product">
        SELECT * FROM product WHERE type=#{type}
    </select>

    <select id="queryAll" resultType="Product">
        SELECT * FROM product
    </select>

    <select id="queryProductByCategoryId" resultType="Product">
        SELECT * FROM product WHERE category_id=#{categoryId}
    </select>

    <select id="queryProductByUserIdAndStatus" resultType="Product">
        SELECT * FROM product WHERE publisher=#{userId} AND status=#{status}
    </select>
    <update id="soldOut">
        UPDATE product SET status=3 WHERE id=#{id}/*商品下架*/
    </update>
    <select id="queryProductNameByKeyWord" resultType="java.lang.String">
        SELECT product.name FROM product WHERE product.name LIKE #{keyWord}
    </select>
    <select id="queryProductByKeyWord" resultType="Product">
        SELECT * FROM product WHERE product.name LIKE #{keyWord}
    </select>
    <select id="queryProductById" resultType="Product">
        SELECT * FROM product WHERE product.id=#{id}
    </select>
    <update id="shutdownComment">
        UPDATE product SET comment=FALSE WHERE id=#{id}
    </update>
    <update id="decreaseNumber">
        UPDATE product SET number=number-#{number}
    </update>
</mapper>