<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solar.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="gender" column="user_gender"/>
        <result property="identify" column="user_identify"/>
        <result property="location" column="user_location"/>
        <result property="status" column="user_status"/>
        <result property="email" column="user_email"/>
        <result property="phone" column="user_phone"/>
        <result property="registerTime" column="user_register_time"/>
        <result property="lastLoginTime" column="user_last_login_time"/>
        <result property="password" column="user_password"/>
        <result property="headImg" column="user_head_img"/>
        <result property="alipay" column="user_alipay"/>
    </resultMap>
    <select id="queryUser" resultMap="userMap">
        SELECT * FROM user WHERE user.user_password=#{password}
        AND user.user_phone=#{phoneOrEmail} OR user.user_email=#{phoneOrEmail}
    </select>
    <select id="queryPassword" resultType="java.lang.String">
        SELECT user.user_password FROM user WHERE user.user_phone=#{phoneOrEmail}
         OR user.user_email=#{phoneOrEmail} AND user.user_identify=#{identify}
    </select>
    <update id="updateLastLoginTime">
        UPDATE user SET user.user_last_login_time=CURRENT_TIMESTAMP() WHERE user.user_id=#{id}
    </update>
    <insert id="addUser" parameterType="User">
        INSERT INTO user(user_id, user_name, user_gender, user_identify, user_location, user_email, user_phone, user_password,user_head_img,user_alipay)  VALUES (#{user.id},#{user.name},#{user.gender},#{user.identify},
        #{user.location},#{user.email},#{user.phone},#{user.password},#{user.headImg},#{user.alipay})
    </insert>

    <update id="updateUser">
        UPDATE user SET user_location=#{location},user_email=#{email},user_phone=#{phone},
        user_password=#{password} WHERE user_id=#{id}
    </update>
    <select id="queryUsers" resultMap="userMap">
        SELECT * FROM user
    </select>
    <select id="queryUserByEmail" resultMap="userMap">
        SELECT * FROM user WHERE user_email=#{email}
    </select>
    <select id="queryUserByPhone" resultMap="userMap">
        SELECT * FROM user WHERE user_phone=#{phone}
    </select>
    <select id="queryUserById" resultMap="userMap">
        SELECT * FROM user WHERE user_id=#{id}
    </select>
</mapper>